table{
	margin: 0 auto;
	border: 2px solid black;
}
td{
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
}
.inpHW{
	width: inherit;
	border:2px solid black;
	height: inherit;
	font-size: 30px;
	text-align: center;
}
.borderN{
	border:none;
	height: 100%;
}
.borderHW{
	border: 2px solid black;
}